In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%run imports.ipynb

2020-01-19 18:47:34 - root - INFO - test info
2020-01-19 18:47:34 - root - DEBUG - test debug

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import datadigest
from datadigest.utils import pd2spark
from datadigest.base import *

In [22]:
ints = [True, False, 
        np.iinfo('int8').min-1, np.iinfo('int8').max+1,
        np.iinfo('int16').min-1, np.iinfo('int16').max+1,
        np.iinfo('int32').min-1, np.iinfo('int32').max+1,
        np.iinfo('int64').min, np.iinfo('int64').max,
        0
       ]
df = pd.DataFrame({
    # floats and ints can change automatically based on platform support
    
    'a_int8': pd.Series(ints).astype(np.int8),
    'a_int16': pd.Series(ints).astype(np.int16),
    'a_int32': pd.Series(ints).astype(np.int32),
    'a_int64': pd.Series(ints).astype(np.int64),
    'a_int': pd.Series(ints).astype(np.int),
    'a_int0': pd.Series(ints).astype(np.int0),
    'a_int_': pd.Series(ints).astype(np.int_),
})

df
df.dtypes
df = pd2spark(df)

    a_int8  a_int16     a_int32              a_int64                a_int               a_int0               a_int_
0        1        1           1                    1                    1                    1                    1
1        0        0           0                    0                    0                    0                    0
2      127     -129        -129                 -129                 -129                 -129                 -129
3     -128      128         128                  128                  128                  128                  128
4       -1    32767      -32769               -32769               -32769               -32769               -32769
5        0   -32768       32768                32768                32768                32768                32768
6       -1       -1  2147483647          -2147483649          -2147483649          -2147483649          -2147483649
7        0        0 -2147483648           2147483648           2147483648           2147483648           2147483648
8        0        0           0 -9223372036854775808 -9223372036854775808 -9223372036854775808 -9223372036854775808
9       -1       -1          -1  9223372036854775807  9223372036854775807  9223372036854775807  9223372036854775807
10       0        0           0                    0                    0                    0                    0

a_int8      int8
a_int16    int16
a_int32    int32
a_int64    int64
a_int      int64
a_int0     int64
a_int_     int64
dtype: object

In [23]:
df.show()

+------+-------+-----------+--------------------+--------------------+--------------------+--------------------+
|a_int8|a_int16|    a_int32|             a_int64|               a_int|              a_int0|              a_int_|
+------+-------+-----------+--------------------+--------------------+--------------------+--------------------+
|     1|      1|          1|                   1|                   1|                   1|                   1|
|     0|      0|          0|                   0|                   0|                   0|                   0|
|   127|   -129|       -129|                -129|                -129|                -129|                -129|
|  -128|    128|        128|                 128|                 128|                 128|                 128|
|    -1|  32767|     -32769|              -32769|              -32769|              -32769|              -32769|
|     0| -32768|      32768|               32768|               32768|               32768|               32768|
|    -1|     -1| 2147483647|         -2147483649|         -2147483649|         -2147483649|         -2147483649|
|     0|      0|-2147483648|          2147483648|          2147483648|          2147483648|          2147483648|
|     0|      0|          0|-9223372036854775808|-9223372036854775808|-9223372036854775808|-9223372036854775808|
|    -1|     -1|         -1| 9223372036854775807| 9223372036854775807| 9223372036854775807| 9223372036854775807|
|     0|      0|          0|                   0|                   0|                   0|                   0|
+------+-------+-----------+--------------------+--------------------+--------------------+--------------------+

In [25]:
a = describe_1d(df, 'a_int8')
b = describe_1d(df, 'a_int16')

In [31]:
pd.DataFrame({'a':a, 'b':b})

                                    a            b
mean                        -0.272727    -0.272727
min                              -128       -32768
max                               127        32767
variance                      3251.62  2.14745e+08
std                            57.023      14654.2
sum                                -3           -3
n_zeros                            11           11
non_missing_distinct_count          5            7
kurtosis                      2.49886      2.49983
skewness                   -0.0125385 -4.87981e-05
non_missing_count                  11           11
5%                              -64.5     -16448.5
25%                                -1           -1
50%                                 0            0
75%                                 0          0.5
95%                                64      16447.5
dtype                        smallint     smallint
nrows                              11           11
range                             255        65535
iqr                                 1          1.5
cv                           -209.084       -53732
mad                           23.6198      5981.44
p_zeros                             1            1
n_missing                           0            0
p_missing                           0            0
p_unique                     0.454545     0.636364

In [17]:
res['asa']=1
res

mean                                                -0.272727
min                                                      -128
max                                                       127
variance                                              3251.62
kurtosis                                              2.49886
std                                                    57.023
skewness                                           -0.0125385
sum                                                        -3
n_zeros                                                    11
5%          0   -64.5
Name: percentile(a_int8, CAST(0.05 A...
25%         0   -1.0
Name: percentile(a_int8, CAST(0.25 AS...
50%         0    0.0
Name: percentile(a_int8, CAST(0.5 AS ...
75%         0    0.0
Name: percentile(a_int8, CAST(0.75 AS...
95%         0    64.0
Name: percentile(a_int8, CAST(0.95 A...
asa                                                         1
Name: a_int8, dtype: object